<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Online Course Website</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">OnCoLi</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        {% if session.user_id %}
          <a class="nav-link" href="/user/{{ session.user_id  }}">User</a> 
        {% endif %}
      </li>
        {% if session.user_id %}
          {% if status %}
            <a class="nav-link" href="/admin">Admin page</a>
          {% endif %}
        {% endif %}
      </li>
      <li>
        {% with messages = get_flashed_messages() %}
          {% if messages %}

            <div class="alert alert-danger" role="alert">  
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
            </div>
          {% endif %}
        {% endwith %}        
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-8">
      <h1>Welcome to The Online Course Library</h1>
      <p>
        This is a webpage where you can sign up as a student 
        and take part in various online courses. An overview 
        of the courses can be found below. You can create an 
        account here or click the button in the upper right corner.
      </p>
      <p>
        The website is ready for the purpose of the project, but would still need development for a real world scenario.
      </p>
      <body>
        <img src="../assets/babyanduniverse.png" alt="baby and the universe" />
      </body>
      
    </div>
    <div class="col-4">
      <h4>User</h4>
      <p>                
        {% if session.user_id %}
          <p>You are logged in as {{ user }}</p>
          <a href="/logout" class="btn btn-primary" >Logout</a>
        {% else %}
          <form action="/login" method="post">

              <div class="form-group col-6">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" name="username">
              </div>
              <div class="form-group col-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <div class="form-group col-6">
                <input type="submit" class="btn btn-primary" value="Login">
              </div>
            <a href="/register" class="btn btn-primary" >Register</a>
          </form>
        {% endif %}
    </div>
  </div>
</div>
