<form action="/register" method="post">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    Username: <input type="text" name="username">
    <p>
    Password: <input type="password" name="password1">
    <p>
    Repeat password: <input type="password" name="password2">
    <p>
    <input type="submit" value="Create account">
    </form>

For development purposes only:
<form action="/register_admin" method="post">
    Username: <input type="text" name="username">
    <p>
    Password: <input type="password" name="password">
    <p>
    Repeat password: <input type="password" name="password_confirmation">
    <p>
    <input type="submit" value="Create admin account">
    </form>